.no-products {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 300;
  color: #8d8d8d;
}

.footer {
  margin-top: 66px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .order-btn {
    &:hover {
      background: #990424;
      color: white;
      transition: 0.3s;
    }
    width: 174px;
    height: 56px;
    border: 2px solid #990424;
    border-radius: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-weight: 300;
    font-size: 24px;
    color: #990424;
    cursor: pointer;
  }
  .order-price {
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 32px;
    color: #990424;
  }
}

@media (max-width: 581px) {
  .footer {
    .order-btn {
      width: 110px;
      height: 40px;
      font-size: 16px;
    }
    .order-price {
      font-size: 20px;
    }
  }
}
