.header-first {
  background: #212121;
}

.logo-mobile {
  display: none;
}

.main-icon {
  width: 23px;
  height: 23px;
}

.header-icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.call {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  cursor: pointer;
}

.header-first-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  height: 30px;
}

.contacts-link {
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  cursor: pointer;
}

@media (max-width: 350px) {
  .logo-mobile {
    display: block;
  }
}

