.header-second {
  background: #bd1616;
  color: #fff;
  }

  .header-second-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  }
  
  .js-data-example-ajax {
  display: block;
  background: #f5f5f5;
  color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  border: none;
  line-height: 26px;
  width: 483px;
  height: 40px;
  padding-left: 30px;
  }
  
  .input-wrapper {
  position: relative;
  }
  
  .search {
  position: absolute;
  left: 0px;
  top: 40px;
  display: block;
  width: 483px;
  height: 327px;
  overflow: scroll;
  background: #ffffff;
  z-index: 3;
  overflow-x: hidden;
  border-radius: 6px;
  }
  
  .element-search {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 466px;
  height: 50px;
  color: black;
  padding: 30px;
  cursor: pointer;
  background: #ffffff;
  }
  
  .element-search:hover {
  background: #ffe6e6;
  }
  
  .select-all {
  background: #F5F5F5;
  display: flex;
  justify-content: flex-start;
  width: 483px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 367px;
  border-radius: 0px 0px 6px 6px;
  padding-left: 32px;
  padding-top: 10px;
  cursor: pointer;
  }
  
  .select-all-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #CC051A;
  }
  
  .vector {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  }
  
  .magnifer {
  position: absolute;
  top: 13px;
  left: 13px;
  }
