.flex-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 90px;
}
.flex-block-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.image-block {

}

.image-container {
  width: 613px;
  height: 550px;
}

.content-block {
text-align: center;
}

.image-card {
  width: 455px;
  height: 550px;
  border-radius: 66px;
  object-fit: cover;
}

.product-name {
  text-align: center;
  font-size: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
}

.product-price {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  color: #990424;
  margin-top: 30px;
  margin-bottom: 40px;
}

.button-basket {
  width: 192px;
  height: 59px;
  border: 2px solid #990424;
  border-radius: 41px;
  color: #990424;
  background-color: #FBFBFB;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

.button-favorites {
  margin-left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 5px 29px -7px rgba(0, 0, 0, 0.25);
  background: #FDFDFD;
  width: 59px;
  height: 59px;
  border-radius: 50%;
}

.product-description {
  text-align: left;
  white-space: break-spaces;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.location {
  margin-top: 30px;
}

.location-availability {
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 16px;
color: #000000;
}

.product-availability {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.availability-shop-name {
  font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
}

.availability-shop-count {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #990424;
}