.back-btn-icon {
  margin-bottom: 27px;
  margin-top: 50px;
  img {
    display: none;
  }
}

.flex-block-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 318px;
  height: 280px;
  margin-bottom: 28px;
}

.image-card {
  width: 240px;
  height: 280px;
  border-radius: 66px;
  object-fit: cover;
}

.product-name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.product-price {
  text-align: center;
  font: 400 20px/1.2 'Roboto';
  color: #990424;
  margin-bottom: 20px;
}

.flex-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.button-favorites {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 5px 29px -7px rgba(0, 0, 0, 0.25);
  background: #fdfdfd;
  width: 39px;
  height: 39px;
  border-radius: 50%;
  margin-left: 17px;
  &:hover {
    cursor: pointer;
  }
}

.product-description {
  text-align: center;
  white-space: break-spaces;
  font: 400 16px/1.5 'Roboto';
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.location-availability {
  font: 300 16px/1.5 'Roboto';
  color: #000000;
}

.product-availability {
  margin-top: 25px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.availability-shop-name {
  font: 300 12px/1.5 'Roboto';
  margin-right: 10px;
}

.availability-shop-count {
  font: 300 12px/1.5 'Roboto';
  margin-right: 25px;
  color: #990424;
}
