.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts-container {
  margin-top: 50px;
  font-weight: 400;
  margin-right: auto;
  margin-left: auto;
  /* padding: 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  max-width: 600px;
  width: 100%;
  border-radius: 20px;
  background: #ffffff;
  color: #444444;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* box-shadow: 0 1px 1px rgba(82, 81, 81, 0.25), 0 10px 10px rgba(83, 83, 83, 0.22); */
  transition-property: background-color, color;
  transition-duration: 2s;
}

.contacts-container > div {
  width: 100%;
  /* margin: 1px; */
  padding: 20px;
  border-bottom: 1px solid #e0d8d8;
  color: #444444;
}

.contacts-container > div > span {
  font-weight: 600;
}

.icon-container {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.icon {
  width: 48px;
  height: 48px;
}

.header-contacts {
  color: #000000;
  font-weight: 800;
}
