.product-item {
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  width: 225px;
  height: 368px;
  background: #ffffff;
  /* border-radius: 15px; */
  box-shadow: 0 10px 10px rgba(82, 81, 81, 0.25), 0 10px 10px rgba(83, 83, 83, 0.22);
}

.product-item:hover {
  background: #ffe6e6;
  transition-property: background-color, color;
  transition-duration: 300ms;
  box-shadow: 0 50px 50px rgba(82, 81, 81, 0.25), 0 10px 10px rgba(83, 83, 83, 0.22);
}

.product-item-select {
    padding: 25px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 22px;
    top: 30%;
    width: 100%;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(82, 81, 81, 0.25), 0 10px 10px rgba(83, 83, 83, 0.22);
    transition-property: background-color, color;
    transition-duration: 2s;
}
.product-item-select>div {
  margin: 10px;
}

.product-item-name {
  display: block;
  width: 198px;
  height: 30px;
  color: #001a34;
  word-break: break-word;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  line-height: 20px;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 300ms;
}

.shop-name {
  color: #001a34;
  word-break: break-word;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  line-height: 20px;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.product-item-image {
  margin-top: 26px;
  margin-left: 20px;
  margin-bottom: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background: #f5f5f5;
}

.product-item-image-text {
  width: 136px;
  height: 30px;
}

.product-item-main-info {
  width: 100%;
  padding: 10px 10px 10px 10px;
}

.product-item-availability {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  font-family: Roboto, 'Comic Sans MS', normal;
  font-size: 14px;
  color: #000000;
}
.availability {
  font-family: Roboto, 'Comic Sans MS', normal;
  padding-left: 5px;
}

.product-item-price {
  margin-top: 10px;
  margin-left: 20px;
  color: #444444;
  font-size: 18px;
  font-family: Roboto, 'Comic Sans MS', normal;
}

.product-item-order {
  margin-top: 10px;
}

.battery-wrapper {
  margin-right: 25px;
}

.to-order {
  text-decoration: none;
  width: 150px;
  height: 30px;
  background: #bd1616;
  color: #ffffff;
  border-radius: 40px;
  cursor: pointer;
}