.battery {
  display: flex;
  align-items: center;
  width: 30px;
  height: 7px;
  border-radius: 30%;
  background: #000000;
  margin-top: 5px;
}

.battery__item {
  /* margin-left: 1px; */
  width: 5px;
  height: 5px;
  /* border-radius: 50%; */
}

.battery__item:first-child {
  margin-left: 3px;
}
