.product-item {
    display: flex;
    margin-bottom: 16px;
    width: 225px;
    height: 368px;
    background: #FFFFFF;
    border-radius: 5px;
  }
  
  .product-item-name {
    width: 198px;
    height: 30px;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    text-align: center;
  }
  
  .product-item-image {
    margin-top: 26px;
    margin-left: 20px;
    margin-bottom: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background: #F5F5F5;
  }
  
  .product-item-image-text {
    width: 136px;
    height: 30px;
  }
  
  .product-item-main-info {
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
  
  .product-item-availability {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    font-family: Roboto, 'Comic Sans MS', normal;
    font-size: 14px;
    color: #000000
  }
  .availability {
    font-family: Roboto, 'Comic Sans MS', normal;
    padding-left: 5px;
  }
  
  .product-item-price {
    margin-top: 10px;
    margin-left: 20px;
    color: #444444;
    font-size: 18px;
    font-family: Roboto, 'Comic Sans MS', normal;
  }
  
  .product-item-order {
    margin-top: 10px;
  }

  .battery-galery {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 23px;
    height: 15px;
    background: #000000;
    border-radius: 4px;
    padding-left: 1px;
    padding-top: 2px;
    margin-left: 60px;
  }
  
  .battery-tuhach {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 23px;
    height: 15px;
    background: #000000;
    border-radius: 4px;
    padding-left: 1px;
    padding-top: 2px;
    margin-left: 23px;
  }
  
  .battery-kulakova {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 23px;
    height: 15px;
    background: #000000;
    border-radius: 4px;
    padding-left: 1px;
    padding-top: 2px;
    margin-left: 53px;
  }
  .battery-shokolad {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 23px;
    height: 15px;
    background: #000000;
    border-radius: 4px;
    padding-left: 1px;
    padding-top: 2px;
    margin-left: 54px;
  }
