.headerSecond {
  color: #fff;

  .headerSecondWrapper {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: block;
    }
  }
}

a .mainIcon {
  margin: 0px 19.5px;
  transition: all 0.2s ease-in-out;
}
.mainIcon:hover {
  transform: scale(1.1);
}

.flexBasket {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basketIcon {
  margin-left: 35px;
}

.iconsContainer {
  width: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.burgerMobile {
  display: none;
}

.locationIcon {
  display: none;
}

@media (max-width: 860px) {
  .headerSecond {
    color: #fff;
    .headerSecondWrapper {
      margin-top: 20px;
      padding: 20px;
      width: 100%;
      height: 44px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 133px;
        height: 44px;
      }
    }
    .burgerMobile {
      display: block;
    }
    a .mainIcon {
      display: none;
    }
    .flexBasket {
      display: none;
    }
    .locationIcon {
      display: block;
    }
  }
  .iconsContainer {
    width: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
