.headerSecond {
  color: #fff;

  .headerSecondWrapper {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: block;
    }
  }
}

@media (max-width: 350px) {
  .logo {
    display: none;
  }
}

a .mainIcon {
  width: 21px;
  height: 21px;
  margin: 0px 19.5px;
  transition: all 0.2s ease-in-out;
}
.mainIcon:hover {
  transform: scale(1.1);
}

.flexBasket {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basketIcon {
    margin-left: 35px;
}

.iconsContainer {
  width: 150px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}