.header-second {
  background: #bd1616;
  color: #fff;
}


.header-second-wrapper {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.js-data-example-ajax {
  display: block;
  background: #f5f5f5;
  border-radius: 6px;
  border: none;
  line-height: 26px;
  width: 483px;
  height: 40px;
  padding-left: 40px;
}

.input-wrapper {
  position: relative;
}

.search {
  position: absolute;
  left: 0px;
  top: 40px;
  display: block;
  width: 483px;
  height: 327px;
  overflow: scroll;
  background: #ffffff;
  z-index: 3;
  overflow-x: hidden;
}

.element-search {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 466px;
  height: 50px;
  color: black;
  padding: 30px;
  cursor: pointer;
  background: #ffffff;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.element-search:hover {
  background: #ffe6e6;
  transition-property: background-color, color;
  transition-duration: 300ms;

}

.delete-target {
  background: #d6d6d6;
  color: #CC051A;
  display: block;
  font-weight: 700;
  font-size: 12px;
  text-align: left;
  padding: 8px 8px;
  width: 483px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 365px;
  border-radius: 0px 0px 12px 12px;
  padding-left: 25px;
  cursor: pointer;
  z-index: 1000;
}

.vector {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
}

.logo {
  display: block;
}

@media (max-width: 350px) {
  .logo {
    display: none;
  }
}