.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 56px;
}

.bannerConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefitsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px 0px 90px 0px;
    width: 1054px;
}
.benefitsText {
    margin-left: 12px;
    font-size: 15px;
    color: #717171;
}
.benefitsElement {
    display: flex;
    justify-content: center;
    align-items: center;
}