.wrapper {
    margin-top: 56px;
    margin-bottom: 89px;
}

.bannerConteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefitsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px;
}
.benefitsText {
    margin-left: 12px;
    font-size: 15px;
    color: #717171;
}