.selected {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 4px;
    background: #BD1616;
    margin-top: 20px;
    transition-property: background-color, color;
    transition-duration: 1s;
  }

  .header-third {
    height: 63px;
    background: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
  .categories {
    display: flex;
    background: #FFFFFF;
  }
  
  .categories-item {
    display: block;
    position: relative;
    width: 240px;
    height: 63px;
    background: #FFFFFF;
    cursor: pointer;
  }
  
  .categories-item::after {
    content: '';
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #FFFFFF;
    margin-top: 20px;
    z-index: 1;
  }
  
  .categories-item:hover::after {
    content: '';
    display: block;
    background-color: #FFE6E6;
  }
  
  .categories-item-name {
    text-align: center;
    margin-top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #343434;
  }
