@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .header-first {
    justify-content: space-around !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  .header-first-bottom {
    justify-content: space-around !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  .header-second {
    padding: 0px !important;
    margin: 0px !important;
  }

  .header-third {
    padding: 0px !important;
    margin: 0px !important;
  }

  .categories-item-name {
    font-size: 12px !important;
  }

  .pages {
    justify-content: center !important;
  }
  .container {
    justify-content: center !important;
    width: auto !important;
  }

  .cards-wrapper {
    justify-content: center !important;
  }

  .js-data-example-ajax {
    width: auto !important;
    height: auto !important;
  }
  .categories-item {
    margin: auto !important;
    width: auto !important;
    height: auto !important;
  }
  .search {
    width: auto !important;
  }
  .element-search {
    width: auto !important;
    height: auto !important;
  }

}

body {
  margin: 0;
  padding: 0;
  align-items: center;
  background: #f5f5f5;
}
