
* {
box-sizing: border-box;
}

@media (max-width: 800px) {
  .logo {display: none;}
  .logo-mobile{display: flex !important;}

  .header-first {
    justify-content: space-around !important;
    padding: 0px !important;
    margin: 0px !important;
  }
  .header-first-bottom {
    justify-content: space-around !important;
    padding: 0px !important;
    margin: 0px !important;
  }

  .header-second {
    padding: 0px !important;
    margin: 0px !important;
  }

  .header-third {
    padding: 0px !important;
    margin: 0px !important;
  }

  .categories-item-name {
    font-size: 12px !important;
  }

  .Pages {
    padding: 0px !important;
    margin: 0px !important;
    justify-content: center !important;
  }
  .container {
    justify-content: center !important;
  }
}

body {
  margin: 0;
  padding: 0;
  align-items: center;
  background: #F5F5F5;
}






