.headerThird {
  height: 63px;
  margin-top: 60px;

  .categoriesWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 965px;
    height: 45px;

    ::after {
      content: '';
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #ffffff;
      margin-top: 20px;
      z-index: 1;
    }

    .categoriesItem {
      display: block;
      text-decoration: none;
      position: relative;
      width: 190px;
      height: 45px;
      cursor: pointer;

      .categoriesItemName {
        text-align: center;
        margin-top: 25px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 14px;
        color: #4f4f4f;
      }

      .selected {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 1px;
        background: #bd1616;
        margin-top: 20px;
        transition-property: background-color, color;
        transition-duration: 2s;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 860px) {
  .headerThird {
    display: none;
  }
}
