.headerThird {
  height: 63px;

  .categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    ::after {
      content: '';
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: #ffffff;
      margin-top: 20px;
      z-index: 1;
    }

    .categoriesItem {
      display: block;
      text-decoration: none;
      position: relative;
      width: 240px;
      height: 63px;
      cursor: pointer;

      .categoriesItemName {
        text-align: center;
        margin-top: 25px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 14px;
        color: #343434;
      }

      .selected {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 4px;
        background: #bd1616;
        margin-top: 20px;
        transition-property: background-color, color;
        transition-duration: 1s;
      }
    }
  }
}
