.battery-red {
    margin-left: 1px;
    width: 4px;
    height: 11px;
    border-radius: 4px;
    background: #BD1616;
   }
   .battery-yellow {
     margin-left: 1px;
    width: 4px;
    height: 11px;
    border-radius: 4px;
    background: #BD8E16;
   }
  .battery-dark-green {
    margin-left: 1px;
    width: 4px;
    height: 11px;
    border-radius: 4px;
    background: #9CBD16;
  }
  
  .battery-green {
    margin-left: 1px;
    width: 4px;
    height: 11px;
    border-radius: 4px;
    background: #23BD16;
  }