.battery {
  display: flex;
  align-items: center;
  width: 30px;
  height: 10px;
  border-radius: 30%;
  background: #212121;
}

.battery__item {
  transition: transform .2s linear;
  margin-left: 1px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.battery__item:hover {
  transform: "rotate(150deg)"
}

.battery__item:first-child {
  margin-left: 3px;
}
